.photo {
    position: relative;
    float: left;
    top: 2.5vh;
    left: 3vw;
    margin-right: 4vw;
    margin-bottom: 1.5vh;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
#name {
    background-color: #4aaaa5;
    position:relative;
    padding: 4.5vh 1vw 4.4vh 1vw;
    line-height: 5vw;
    font-size:2rem;
    color: white;
    width: 20vw;
    height: 20vh;
    top:0;
    left: 13.5vw;
    font-family: 'Georgia', Times, Times New Roman, serif;
}
.norm {
    color: #777777;
    line-height: 5vh;
    position:relative;
    font-size: 1.2rem;
    font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}
.fix2{
    position:relative;
    top:-1.5vh;
    left:2.5vw;
}
.fix3 {
    position: relative;
    top:-1.5vh;
    left: 1vw;
}
.fix4 {
    position: relative;
    top:0vh;
    bottom:0vh;
}
.hb2 {
    position:relative;
    top:2vh;
    font-family: 'Georgia', Times, Times New Roman, serif;
    color: #4aaaa5;
    font-size: 2rem;
}
body {
    border-top: 25px #ffffff;
    background-image: url("https://i.imgur.com/6ni6HKU.png");
    background-repeat: repeat;
}
#foot {
    position: fixed;
    left:0;
    bottom:0;
    padding: 10vh 0px -2vh 0vw;
    width: 100%;
    line-height: 3vw;
    
    background-color:#666666;
    border-top-width:7.69px;
    border-top-color: #4aaaa5;
    border-style: solid;
    text-align:center;
}
.ffix {
    position: relative;
    bottom: 0vh;
    text-align:center;
}
.section {
    border-width: 1px;
    position:fixed;
    width:70vw;
    height: 67vh;
    top:15vh;
    left:13.5vw;
    background-color: #ffffff;
}
.header {
    background-color:#ffffff;
    border-color: #ffffff;
    border-bottom-color: #d3d3d3;
    border-bottom-width: 2px;
    border-style:solid;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:12%;
}
.sectionb {
    position:relative;
    top: 4vh;
    left:3vw;
    border-top-width: 5px;
    width:60vw;
    height:200px;
    border-color: #ffffff;
    border-top-color: #d3d3d3;
    border-style:solid;
}
.headb {
    position: relative;
    float: right;
    top: 4.5vh;
    right:15.5vw;
    margin-right: 15px;
}
.headbp {
    position: relative;
    top: 4.3vh;
    padding: 0vh 1vw 0vh 1vw;
    border-style: solid;
    border-color: #ffffff;
    border-right-color: #d3d3d3;
    border-left-color: #d3d3d3;
    border-right-width: 1px;
    border-left-width: 1px;
}
.alfix{
    position: relative;
    left:3vw;
}
.first2[type=text], select {
    width: 90%;
    position: relative;
    left: 3vw;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.msg[type=text], select2 {
    width: 90%;
    position:relative;
    left: 3vw;
    padding: 0px 0vw 16vh 0vw;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=submit] {
    width: 20%;
    position:relative;
    background-color: #4aaaa5;
    color: white;
    padding: 14px 20px;
    left: 3vw;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.overl {
    position: absolute;
    left:  3vw;
    top: 20vh;
    margin-bottom: 50px;
    text-align:center;
    width: 200px;
    color: #ffffff;
    padding: 0vh 0vw 1vh 0vw;
    background-color: #4aaaa5;
}
.over2 {
    position: absolute;
    left: 20vw;
    top: 20vh;
    text-align:center;
    width: 200px;
    color: #ffffff;
    padding: 0vh 0vw 1vh 0vw;
    background-color: #4aaaa5;
}
.over3 {
    position: absolute;
    left:  37.05vw;
    top: 20vh;
    text-align:center;
    width: 200px;
    color: #ffffff;
    padding: 0vh 0vw 1vh 0vw;
    background-color: #4aaaa5;
}
.over4 {
    position: absolute;
    left: 3vw;
    top: 43.2vh;
    text-align:center;
    width: 200px;
    color: #ffffff;
    padding: 0vh 0vw 1vh 0vw;
    background-color: #4aaaa5;
}
.over5 {
    position: absolute;
    left:  20vw;
    top: 43.2vh;
    text-align:center;
    width: 200px;
    color: #ffffff;
    padding: 0vh 0vw 1vh 0vw;
    background-color: #4aaaa5;
}